.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #111111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 15px;
}

.header__search {
    vertical-align: top;
    width: 100%;
    border: 0;
}

.header__searcher {
    display: flex;
    flex: 1; 
    border-radius: 30px;
    border: none;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px;
}

.header__options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionOneLineTwo, .header__optionTwoLineTwo, .header__optionThreeLineTwo {
    size: 13px;
    font-weight: 800;
}

.header__searchIcon {
    background-color: #FDAF16;
    height: 21px;
    padding: 5px;
}