.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #111111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 15px;
}

.header__search {
    vertical-align: top;
}

.header__searcher {
    display: flex;
    flex: 1; 
    align-items: center;
    border-radius: 30px;
}

.header__optionOne {
    color: white;
    margin: 0 10px;
}

.header__optionTwo {
    color: white;
    margin: 0 10px;
}

.header__optionThree {
    color: white;
    margin: 0 10px;
}

.header__searchIcon {
    background-color: #FDAF16;
}