.home {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
}

.home__container {
    background-color: antiquewhite;
    width: 100%;
}

@media only screen and (max-width: 758px) {
    .home__container {
        display: none;
    }
}

@media only screen and (min-width: 758px) {
    .home__containerMobile {
        display: none
    }
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
    display: flex;
    flex-direction: row;
}

.home__firstRow {
    margin-top: 170px;
}